body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-color: #000;
}

/* Fix for'modal scrolls background content' bug
https://github.com/twitter/bootstrap/issues/5336 */
body.modal-open {
    overflow: hidden;
}

/* Fix modal position for 480px devices 
https://github.com/twitter/bootstrap/issues/3230 */
@media (max-width: 480px) 
{
    .modal.fade.in {
        top: 10px;
        max-height: 400px;
  }
}

div>h4 {
  margin-top: 0px;
}

.ns_hero {
  background-color: #ffffff;
  padding: 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.jobexperience {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.subpage  {
  background-color: #fff;
  top: 100px;
  
}

h4 {
  margin-top: 20px;
  margin-bottom: 2px;
}

.img-project {
  margin-right: 8px;
  margin-bottom: 8px;
}

.btn-project {
  margin-bottom: 30px;
}


.linkedin {
  margin-left: 40px;
}

/* Contact form */

#edit-actions {
  background-color: #ffffff;
  border-top: none;
}


/* CSS Button additions */
a.sb.drupal {
  background-image: url(css-social-buttons-extra/drupal.png);
}

a.sb.github {
  background-image: url(css-social-buttons-extra/github.png);
}

a.sb.flickr {
  background-image: url(css-social-buttons-extra/flickr.png);
}

