body{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-color: #000;
}

.subpage  {
  background-color: #fff;
  top: 100px;
  
}

.hero-unit {
  background-color: #ffffff;
  margin-top: 30px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 2px;
}

.img-project {
  margin-right: 8px;
  height: 75px;
  margin-bottom: 8px;
}

/* Contact form */

#edit-actions {
  background-color: #ffffff;
  border-top: none;
}


/* CSS Button additions */
a.sb.drupal {
  background-image: url(css-social-buttons-extra/drupal.png);
}

a.sb.github {
  background-image: url(css-social-buttons-extra/github.png);
}

a.sb.flickr {
  background-image: url(css-social-buttons-extra/flickr.png);
}