body {
	background-color: #ffffff;
	background-image: none;
	padding-top: 0px;
}

a {
	color: #000000;
}

div.navbar {
	display: none;
}

.ns_hero {
	padding: 0px;
	margin-top: 15px; 
}

h1 {
	display: none;
}

#overview {
	width: 800px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#recommendation {
	display: none;
}

hr {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

#resumetext {
	display: block;
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 30px;
	margin-left: 18px;
	float: left;
}

#resumecontactinfo {
	float: right;
	width: 250px;
	color: #ddd;
	display: block;
}

.lead {
	margin-bottom: 5px;
	line-height: 25px;
}

.jobexperience {
	padding-bottom: 10px;
}

.linkedin {
	display: none;
}

#drupalmessage {
	margin-top: 50px;
	margin-left: 40px;	
	color: #ccc;
	text-align: center;
	font-size: 14px;
	display: block;
}

#drupallogo {
	padding-left: 25px;
	margin-top: 5px;
}


